@import "../../styles/colors";
@import "../../styles/fonts";

.notification-card {
  padding: 1rem;
  margin: 1rem 0;
  background-color: $white;
  border-radius: 8px;

  * {
    background-color: $white;
  }

  .no-read::after {
    $size: 8px;
    content: "";
    width: $size;
    height: $size;
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    margin: $size 0 0 5px;
  }
}

.no-read {
  background-color: $very-light-grayish-blue;
  * {
    background-color: $very-light-grayish-blue;
  }
}
