@import "../../styles/colors";

.notification-header-container {
  display: flex;
  justify-content: space-between;
  background-color: inherit;

  h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background-color: inherit;

    span {
      background-color: $blue;
      color: $white;
      padding: 2px 10px;
      border-radius: 5px;
      font-size: 1rem;
      margin-left: 8px;
    }
  }

  button {
    background-color: $white;
    border: none;
    cursor: pointer;
    color: $dark-grayish-blue;
  }

  button:hover {
    color: $blue;
  }
}
